# editorconfig.org
# helps developers define and maintain consistent coding styles between different editors and IDEs

root = true

[*] # All files
charset = utf-8
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf
